executor: KubernetesExecutor

image:
  repository: gcr.io/cdp-tan-project/airflow
  tag: "2.10.5-spark4"
  pullPolicy: IfNotPresent

config:
  AIRFLOW__CORE__FERNET_KEY: "{{ .Values.fernetKey }}"
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "False"
  AIRFLOW__CORE__ENABLE_XCOM_PICKLING: "False"
  AIRFLOW__LINEAGE__BACKEND: "openlineage.airflow.backend.OpenLineageBackend"

extraEnv:
  - name: AIRFLOW__KUBERNETES__NAMESPACE
    value: airflow
  - name: AIRFLOW__KUBERNETES__WORKER_CONTAINER_REPOSITORY
    value: gcr.io/cdp-tan-project/airflow
  - name: AIRFLOW__KUBERNETES__WORKER_CONTAINER_TAG
    value: "2.10.5-spark4"
  - name: AIRFLOW__KUBERNETES__DELETE_WORKER_PODS
    value: "True"

logs:
  persistence:
    enabled: false
  path: gs://cdp-airflow-logs/

scheduler:
  resources:
    limits:
      cpu: 500m
      memory: 1Gi

webserver:
  resources:
    limits:
      cpu: 500m
      memory: 1Gi