apiVersion: v1
kind: Service
metadata:
  name: {{ include "airflow.fullname" . }}-webserver
spec:
  type: ClusterIP
  ports:
    - port: 8080
      targetPort: 8080
  selector:
    app: {{ include "airflow.fullname" . }}-webserver