name: Build Apache Atlas 2.4.0

on:
  workflow_dispatch:

jobs:
  build-dist:
    runs-on: ubuntu-latest
    env:
      BRANCH: "release-2.4.0"
      GIT_URL: "https://github.com/apache/atlas.git"
      MAVEN_OPTS: "-Xms2g -Xmx2g"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y openjdk-11-jdk maven git unzip dos2unix
          echo "JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64" >> $GITHUB_ENV

      - name: Clone Atlas
        run: |
          git clone --branch ${BRANCH} --single-branch ${GIT_URL} atlas

      - name: Build dist
        run: |
          cd atlas
          mvn clean package -Pdist -DskipTests -Drat.skip=true -DskipDocs -T1C

      - name: Copy artifacts
        run: |
          mkdir -p dist
          cp atlas/distro/target/apache-atlas-*.tar.gz dist/
          ls -lh dist

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: atlas-dist-2.4.0
          path: dist/